.g{
    color: rgb(30, 9, 151);
        font-family: "Playwrite CO";
            font-weight: 100px;
                background-color: khai;                 /* poner una color wapo, y no subrayarlo, solo pintarlo entero */
}
.h{
    color: darkblue;
        font-family: "Playwrite CO";
}
.t{
    color: rgb(102, 237, 129 ) ;
}